div.editable-div {
  background: white;
  color: black;
  padding: 6px;
  border-bottom: 3px solid white;

  &:hover {
    background: @land-gray-lighter;
    border-bottom: 3px solid white;
  }

  &:focus {
    background: white;
    outline: none;
    border-bottom: 3px solid @land-gray-light2;
  }
}
