/* https://coolors.co/96adc8-d7ffab-fcff6c-d89d6a-6d454c
   #FFFFFF #EEEEEE #757575 #000000 #bfd630 #A0B228 #819110
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Tangerine');

body.dta {
  font-family: 'Open Sans', sans-serif;
  background: #EEEEEE;
  color: #000000;
}

body.dta div#datatables-admin {
  background: #FFFFFF;
  padding: 20px;
  margin: 20px;
}

body.dta div#datatables-admin h1 {
  font-family: 'Tangerine', cursive;
  color: #000000;
  text-align: center;
  font-size: 86px;
  font-weight: 500;
  margin: 20px;
}

body.dta div#datatables-admin table#editor {
  background: #EEEEEE;
  border-spacing: 5px;
  color: #000000;
  margin: auto;
}

body.dta div#datatables-admin table#editor tr,
body.dta div#datatables-admin table#editor td,
body.dta div#datatables-admin table#editor th {
  background: #FFFFFF;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

body.dta div#datatables-admin table#editor th {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

body.dta div#datatables-admin .dta-btn {
  color: #A0B228;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

body.dta div#datatables-admin .dta-btn:hover {
  color: #819110;
  cursor: pointer;
}

body.dta div#datatables-admin div.table-preview-container {
  text-align: center;
  margin-top: 40px;
}

body.dta div#datatables-admin table.table-render-preview {
  margin: auto;
}

body.dta div#datatables-admin button.render-table {
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 6px;
  background: #A0B228;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  font-weight: 900;
}

body.dta div#datatables-admin button.render-table:hover {
  background: #819110;
  cursor: pointer;
}

body.dta a {
  color: #A0B228;
  text-decoration: none;
  font-weight: 900;
}

body.dta a:hover {
  color: #819110;
}

body.dta div.filters-container {
  clear: both;
  text-align: center;
}

body.dta div.filters-container ul.filters-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* For IE, the outcast */
  zoom:1;
  *display: inline;
}

body.dta ul.filters-list li {
  float: left;
  color: #A0B228;
  padding: 10px 20px;
  margin-right: 20px;
  list-style: none;
}

body.dta ul.filters-list li.is-selected {
  border-bottom: 2px solid #A0B228;
}

body.dta ul.filters-list li:hover {
  cursor: pointer;
  color: #819110;
}
