.loading_message {
  height: 450px;
  width: 900px;
  line-height: 450px;
  position: absolute;
}

#squaresWaveG {
  position: absolute;
  top: 250px;
  left: 330px;
  width: 240px;
  height: 29px;
  z-index: 1000;
}

.squaresWaveG {
  position: absolute;
  top: 0;
  background-color: #C0D630;
  width: 29px;
  height: 29px;
  -moz-animation-name: bounce_squaresWaveG;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-animation-name: bounce_squaresWaveG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-animation-name: bounce_squaresWaveG;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-animation-name: bounce_squaresWaveG;
  -o-animation-duration: 1.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  animation-name: bounce_squaresWaveG;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

#squaresWaveG_1 {
  left: 0;
  -moz-animation-delay: 0.52s;
  -webkit-animation-delay: 0.52s;
  -ms-animation-delay: 0.52s;
  -o-animation-delay: 0.52s;
  animation-delay: 0.52s;
}

#squaresWaveG_2 {
  left: 30px;
  -moz-animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  animation-delay: 0.65s;
}

#squaresWaveG_3 {
  left: 60px;
  -moz-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  animation-delay: 0.78s;
}

#squaresWaveG_4 {
  left: 90px;
  -moz-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  animation-delay: 0.91s;
}

#squaresWaveG_5 {
  left: 120px;
  -moz-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  animation-delay: 1.04s;
}

#squaresWaveG_6 {
  left: 150px;
  -moz-animation-delay: 1.17s;
  -webkit-animation-delay: 1.17s;
  -ms-animation-delay: 1.17s;
  -o-animation-delay: 1.17s;
  animation-delay: 1.17s;
}

#squaresWaveG_7 {
  left: 180px;
  -moz-animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -ms-animation-delay 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

#squaresWaveG_8 {
  left: 210px;
  -moz-animation-delay: 1.43s;
  -webkit-animation-delay: 1.43s;
  -ms-animation-delay: 1.43s;
  -o-animation-delay: 1.43s;
  animation-delay: 1.43s;
}

@-moz-keyframes bounce_squaresWaveG {
  0%{
    background-color: #C0D630;
  }
  100%{
    background-color: #FFFFFF;
  }
}

@-webkit-keyframes bounce_squaresWaveG {
  0%{
    background-color: #C0D630;
  }
  100%{
    background-color: #FFFFFF;
  }
}

@-ms-keyframes bounce_squaresWaveG {
  0%{
    background-color: #C0D630;
  }
  100%{
    background-color: #FFFFFF;
  }
}

@-o-keyframes bounce_squaresWaveG {
  0%{
    background-color: #C0D630;
  }
  100%{
    background-color: #FFFFFF;
  }
}

@keyframes bounce_squaresWaveG {
  0%{
    background-color: #C0D630;
  }
  100%{
    background-color: #FFFFFF;
  }
}

/* Map View styles */
body.template-landitem-view button.fullscreen-map.on {
  z-index: 1000;
  position: fixed;
  margin: 0 auto;
  left: 50%;
  margin-left: -95px;
  top: 7px;
}

body.template-landitem-view button.fullscreen-map {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 3px;
  right: 8px;
  margin-bottom: -23px;
  background: transparent;
  border: none;
  outline: none;
  color: #616161;
  font-weight: bold;
  font-family: Arial,FreeSans,sans-serif;
  font-size: 13px;
}

body.template-landitem-view .fullscreen-iframe {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* Download tab styles */

#fieldset-download #download-info {
  border: 1px solid #BFD630;
  border-radius: 10px;
  background: #fff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  margin-top:-10px;
  margin-bottom: 25px;
}

#data-table-download .border-bottom-only,
#datatable-container table th {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid black;
}

#data-table-download .border-top-only {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #CCC;
}

#data-table-download tbody>tr:hover {
  background-color: #DFF2FF;
}

span.vector, span.raster {
  display: inline;
  padding:.3em .6em .3em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

span.vector {
  background-color: #FDA42C !important;
  text-shadow: 0px 1px 1px #8A591A;
}

span.raster {
  background-color: #D21359 !important;
  text-shadow: 0px 1px 1px #6E0B2F;
}

.download-button {
  margin-top: -3px;
  margin-bottom: -3px;
  color: #CCC !important;
  text-decoration: none !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}

tr:hover .download-button.disabled,
.download-button.disabled:hover {
  background-color: #BBB;
}

tr:hover .download-button,
.download-button:hover {
  color: #fff !important;
  background-color: #0A70B2;
}

#data-table-download_info {
  display: none;
}

.not-validated-tag {
  position: relative;
  bottom: 2px;
  display: inline;
  background-color: #323232;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
}

/* Metadata tab styles */
#detailed-metadata-title, #access-and-use-title {
  padding-top: 25px;
}

.detailed-metadata-container {
  margin-top: 15px;
  border: 1px solid #CCC;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  overflow: hidden;
}

.detailed-metadata-container dl {
  float: left;
  width: 100%;
  margin-bottom: 0px !important;
}

.detailed-metadata-container dt {
  float: left;
  width: 24%;
  text-align: right;
}

.detailed-metadata-container dd {
  float: left;
  width: 72%;
  padding-top: 0px !important;
  padding-left: 15px;
}

.detailed-metadata-container dd p {
  margin-bottom: 0.5em !important;
}

#temporal_dynamic {
  display: none;
}

.label-tag {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none !important;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #989898 !important;
  color: white !important;
  margin-right: 5px;
}

.label-tag:hover {
  background-color: #4D4D4D !important;
  color: white !important;
}

.label-white-color {
  color: white !important;
}

.label-white-color:hover {
  color: white !important;
}

#category {
  display: none; /* Fix Remove "Filed under" section */
}

.text-centered {
  text-align: center;
}

.btn-land-download {
    background-color: #FDA42C;
    border-color: #FE9200;
    width: 70%;
    font-size: larger;
}

.btn-land-download:hover {
    background-color: #FE9200;
}

.btn-land-download:focus,
.btn-land-download:active {
    background-color: #FE9200;
}

.btn-land-download .btn-title {
  font-size: larger;
  font-weight: bold;
}

.btn-land-download .btn-desc {
  font-size: small;
}
